.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
}
/* code */
.top {
    background-color: #fff;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top .logo img {
    padding-left: 18px;
    padding-top: 3px;
    height: 50px;
}
.top .inp {
    padding-right: 40px;
}
.top .inp input {
    height: 40px;
    width: 170px;
    border-radius: 7px;
    border: 1px solid #cecece;
    padding: 0 10px;
}
.top .inp input:focus {
    outline: 1px solid #0866ff;
}
.top .inp input::placeholder {
    font-size: 16px;
    color: rgb(70, 69, 69);
}
.top .inp input[type=submit] {
    width: 70px;
    height: 40px;
    background-color: #0866ff;
    color: white;
    font-size: 18px;
    font-weight: bold;
}   
.top .inp a {
    display: inline-block;
    text-decoration: none;
    color: #0866ff;
    padding-left: 10px;
    margin-top: -10px;
    font-size: 16px;
}
.small {
    display: none;
}
.middle {
    background-color: #E9EbEE;
    padding: 80px 0;
}
.middle .contact {
    position: relative;
    left: 49%;
    transform: translateX(-50%);
    width: 470px;
    background-color: #fff;
    padding: 5px 15px 15px 15px;
    border-radius: 10px;
}
.middle .contact h2 {
    padding: -10px 0;
    font-weight: bold;
    font-size: 22px;
}
.middle .contact div{ 
    padding: 15px 0;
    font-size: 17px;
}
.middle .contact input {
    width: 380px;
    padding: 16px;
    border-radius: 7px;
    border: 1px solid #cecece;
    margin-bottom: 10px;
}
.middle .contact a {
    display: inline-block;
    position: relative;
    left: 60%;
    text-decoration: none;
    border-radius: 7px;
    margin: 5px 0;
    font-weight: bold;
    font-size: 16px;
} 
.middle .contact .cl{
    background-color: #E4E6EB;
    color: black;
    padding: 8px 17px;
    margin-right: 5px;
}
.middle .contact .sh {
    background-color: #0866ff;
    color: white;
    padding: 8px 20px;
}
.page-s{
    background-color: #fff;
    margin-top: 130px;
    margin-left: 50px;
    color: #737373;
}
.page-s .container .links {
    padding-top: 30px;
    padding-bottom: 10px;
}
.page-s .container .links a{
    text-decoration: none;
    font-size: 12px;
    color: #737373;
    margin-right: 10px;
}
.page-s .container .links a:hover {
    text-decoration: underline;
}
.page-s .container .links .ai {
    padding: 1px 10px;
    background-color: #f5f6f7;
    border: 1px solid black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 3px;
    transition: .3s;
}
.page-s .container .links .ai:hover {
    background-color: #e5e7e7;;
}
.page-s .container hr {
    background-color: #dddfe2;
}
.page-s .container .links2 {
    padding-top: 10px;
}
.page-s .container .links2 a{
    text-decoration: none;
    font-size: 12px;
    color: #737373;
    margin-right: 16px;
}
.page-s .container .links2 a:hover{
    text-decoration: underline;
}
.page-s .container .pub {
    padding: 20px 0;
    color: #737373;
    font-size: 11px;
}

/* media */
@media (min-width: 786px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1030px;
    }
}
@media (max-width: 767px) {
    body {
        overflow: hidden;
    }
    .top {
        display: none;
    }
    .middle {
        display: none;
    }
    .small {
        display: inline-block;
    }
    .small .sback {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-image: radial-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0) 40%), radial-gradient(rgb(255, 209, 82) 30%, rgb(226, 105, 150), rgba(226, 105, 150, 0.4) 41%, transparent 52%), radial-gradient(rgb(160, 51, 255) 37%, transparent 46%), linear-gradient(155deg, transparent 65%, rgb(37, 212, 102) 95%), linear-gradient(45deg, rgb(0, 101, 224), rgb(15, 139, 255));
        background-position: left bottom, 109% 68%, 109% 68%, center center, center center;
        background-repeat: no-repeat;
        background-size: 200% 200%, 285% 500%, 285% 500%, cover, cover;
        inset: 0px;
        opacity: 0.08;
        pointer-events: none;
        z-index: -1;
    }
    .small .scontact {
        padding: 15px;
    }
    .small .scontact span {
        display: inline-block;
    }
    .small .scontact a {
        display: inline-block;
        text-decoration: none;
        color: black;
        font-size: 19px;
        margin-bottom: 15px;
        margin-left: 5px;
    }
    .small .scontact .sh1 {
        font-size: 24px;
        font-weight: bold;
        word-spacing: 2px;
        margin-bottom: 10px;
    }
    .small .scontact .sh2 {
        font-size: 17px;
        font-weight: 100;
        margin-bottom: 25px;
        color: #465a69;
    }
    .small .scontact input {
        padding: 20px 15px;
        width: 92%;
        font-size: 17px;
        border-radius: 7px;
        border: 1px solid #cbd2d9;
        margin-bottom: 15px;
    }
    .small .scontact .sh3 {
        font-size: 15px;
        color: #465a69;
        margin-bottom: 18px;
    }
    .small .scontact .cont {
        padding: 11px 43%;
        background-color: #0064e0;
        color: white;
        font-size: 18px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .small .scontact .sh4 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
        color: #1c2b33;
    }
    .page-s {
        display: none;
    }
}